.bg {
    background-image: url(../img/login_signupbg.svg);
    /* background-repeat: no-repeat; */
    object-fit: contain;
}

.emailForm {
    width: 375px;
    height: 40px;
    border-radius: 50px;
}

.cursorhover:hover {
    cursor: pointer;
}