.signupbtn{
width: 374px;
height: 63px;
left: 20px;
top: 705px;

background: #8E97FD;
border-radius: 38px;
}

.ss{
    /* object-fit: fill; */
    background-repeat: no-repeat;
    background: url(../img/backgr.svg);
    background-size: 60vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.signInimage{
    /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    width:
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
}
/* .signInimage{
width: 30%;
height: auto;
} */